
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --color-dark-red: #8B0000;
  --color-white: #fff;
  --color-border: #ddd;
  --color-text-primary: #666666; /* changed to lighter gray */
  --color-hover: #b22222;
  --color-cart-count: #e60000;
  --font-size-top-bar: 14px;
  --font-size-navbar-icon: 20px;
  --font-size-cart-count: 12px;
  --font-size-nav-links: 16px;
}

/* Padding-top to prevent content hiding behind fixed header */
body, #root {
  padding-top: 80px; /* 30px top-bar + 64px navbar */
  margin: 0;
<<<<<<< HEAD
 font-family: "New York", "Iowan Old Style", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
=======
  font-family:"New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
>>>>>>> 0f3afeece7d192d1263d5fd32c73c62337723f54
  background: #fff;
  color: var(--color-text-primary);
}