.saree-card {
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(232, 232, 232);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: fit-content;
  text-align: center;
}

/* main image */
.saree-card .main-image {
  height: 20rem;
  object-fit: contain;
  border-bottom: 1px solid #eee;
}

/* heading */
.saree-card h2 {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  padding: 10px;
  margin: 0;
}


.price-info {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.sales-price{
  text-decoration: line-through;
}
/* discount badge */
.discount {
background-color: rgb(139, 0, 0);
color: white;
}

.sales-price-after-discount {
color: green;
}



/* variants row */
.variants {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0 10px 10px;
}


.review {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
}

.stars {
  color: rgb(8, 8, 8);
}

.review-count {
  color: #777;
}
.saree-card .review {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 4px;
}

.saree-card .stars {

  color: #313131; /* golden star color */
}

.saree-card .review-count {
  font-size: 0.85rem;
  color: #666;
}
