.slide {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

/* 🔸 Equal size for all images */
.slide-img {
  height: 70vh; 
  object-position: center; /
}



/* 📱 Responsive breakpoints */
@media (max-width: 992px) {
  .slide-img {
    height: 70vh;
  }
 
}

@media (max-width: 768px) {
  .slide-img {
    height: 60vh;
  }
 
}

@media (max-width: 576px) {
  .slide-img {
    height: 50vh;
  }

}


